@import "src/styles/theme";

* {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  background: @color-primary;

  width: 100vw;
  min-height: 100vh;
}


// Fonts
h2 {
  font-family: @font-montserrat;
  font-weight: 200;
  font-size: 1rem;

  @media @desktop {
    font-size: 2rem;
  }
}

p {
  font-family: @font-montserrat;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1;

  @media @desktop {
    font-size: 2rem;
  }
}

p.temperture {
  font-family: @font-teko;
  font-weight: 300;
  font-size: 3rem;

  @media @desktop {
    font-size: 5.5rem;
    line-height: .7;
  }
}

button {
  font-family: @font-montserrat;
  font-weight: 200;
  font-size: 1rem;
  cursor: pointer;

  @media @desktop {
    font-size: 2rem;
  }
}

button.navigationButton-active {
  font-weight: 600;
}
