// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&family=Teko:wght@300;400&display=swap');

@font-teko: 'Teko', sans-serif;
@font-montserrat: 'Montserrat', sans-serif;;

// Color Palette
@color-primary: #EEF6FB;
@color-secondary: #5EB0E8;
@color-text: #333339;

// Box Shadow
@box-shadow-main: 0px 9px 37px 3px rgba(0,0,0,0.1);

// Border Radius
@border-radius-main: 15px;

// media query
@desktop:   ~"only screen and (min-width: 960px)";
